.toggle {
    color: #000;
    font-size: 40px;
    position: absolute;
    cursor: pointer;
    rotate: 90deg;
    left: 30px;
    transition: 0.5s all;
}

.rotate {
    rotate: 180deg;
    transition: 0.5s;
}


.nav-items {
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    align-content: right;
    gap: 25px;
}

@media only screen and (min-width: 600px) {
    .toggle {
        display: none;
    }
}