/* code for scroll top button*/



/* images size */
img {
  max-width: 200px;
  border-radius: 20px;
}


/* description of foods */
#desc-plato {
  font-size: 20px;
}

/* color and size for the number of prices */
#number {
  color: #FF00F2;
  font-size: 25px;
}

/* size for smaller screens */
@media only screen and (max-width: 768px) {
  #desc-plato {
    font-size: 13px;
  }

  .number {
    position: relative;
    margin-left: 20px;
  }
}


/* home text */
.inicio {
  color: #fff;
  padding-inline: 20px;
}

.seccion {
  color: #fff;
  margin-inline: 5vh;
  border-top: 2px dashed #ffffff;
  padding-top: 15px;
  margin-top: 20px;
}

.titulo {
  color: #F5D000;
  text-align: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
} 



h3 {
  color: #D3FBD8;
}

#inicio {
  text-align: center;
}

address {
  font-size: 13px;
  color: #888888;
  padding-left: 15px;
  background-color: #141414;
  position: absolute;
  padding: 15px;
  border-top: 2px solid #49494941;
}



h2 {
  position: relative;
  top: 10px;
  font-weight: 400;
}




* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: rgb(15, 15, 15);
}

html, body {
  scroll-behavior: smooth;
}

.navbar {
  padding: 10px;
  border-bottom: 2px solid #ffe600;
}

.logo {
  position: relative;
  left: 20px;
  top: 5px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.navbar-links {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  bottom: 4vh;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.burguer {
  display: none;
  color: #ffffff;
  font-size: 20px;
  transform: rotate(90deg);
  transition: 0.4s ease-in;
}

#lo {
  color: rgb(102, 232, 255);
}


@media only screen and (max-width: 600px) {
  .logo {
    text-align: center;
    left: 0;
    top: 5px;
    margin-bottom: 15px;
  }

  .navbar-links {
    font-size: 20px;
    flex-direction: column;
    position: static;
    gap: 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-in-out;


  }

  .burguer {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
  }

 
}

.rotate {
  transform: rotate(180deg);
  transition: 0.7s ease-in-out;
}

.active {
  max-height: 600px;
}

* {
  box-sizing: border-box;
}

footer {
  display: none;
}

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
  }

  i {
    position: relative;
    font-size: 40px;
    top: 100px;
  }

  #map {
    position: relative;
    font-size: 40px;
    left: 20px;
  }

  #whatsapp {
    position: relative;
    font-size: 42px;
    left: 40px;
  }

}


button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #19191c;
  color: #f9f9f9;
  font-family: "Poppins";
  box-sizing: border-box;
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title {
  margin: 0;
  font-size: 25px;
  cursor: pointer;
}

.navbar-menu {
  font-size: 18px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 270px;
  height: 100%;
  padding: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  background: #000000;
  visibility: hidden;
  transition: transform 0.3s;
}

body.open .navbar-menu {
  transform: translateX(0);
  visibility: visible;
  border-right: 2px solid #ffffff;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    transform: translateX(0);
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}

.navbar-menu > a {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
  text-decoration: none;
  color: inherit;
}

.navbar-menu > a.active {
  color: inherit;
}

li {
  color: #fff;
}

.fondo {
  position: relative;
  width: 100%;
  height: 380px;
  overflow: hidden;
}

.fondo::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  background-image: url("img/background1.jpg");
  background-size: cover;
  background-position: center;
  opacity: 0.5;
  z-index: -1;
}

.fondo img {
  filter: brightness();
}

.ventana {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 9999;
  border-radius: 10px;
}

.ventana img {
  max-width: 250px;
  align-items: center;
}

.ventana p {
  margin-top: 10px;
  color: #000;
}

.cerrar {
  color: #aaa;
  float: right;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}

.cerrar:hover {
  color: #000;
}

#ver-mas {
  position: relative;
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 20px;
}

.logo {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
}

#tortas img {
  max-width: 200px;
  border-radius: 20px;
  transition: 0.5s;
}

#tortas img:hover {
  max-width: 270px;
  transition: 0.5s;
}

.link-icons {
  text-decoration: none;
  padding: 0;
  margin-inline: 15px;
  display: flex;
  gap: 20px;
  position: relative;
  left: 10px;
}
