
/* images size */
img {
  max-width: 200px;
  border-radius: 20px;
}


/* description of foods */
#desc-plato {
  font-size: 20px;
  color: #000000;
}

/* color and size for the number of prices */
#number {
  color: #8A2BE2;
  font-size: 25px;
}

/* size for smaller screens */
@media only screen and (max-width: 768px) {
  #desc-plato {
    font-size: 13px;
  }

  .number {
    position: relative;
    margin-left: 20px;
  }
}


/* home text */
.inicio {
  color: #fff;
  padding-inline: 20px;
  z-index: 999;
}

.seccion {
  color: #fff;
  margin-inline: 5vh;
  border-top: 2px dashed #000000;
  padding-top: 15px;
  margin-top: 20vh;
}

#titulo {
  color: #71689d;
  text-align: center;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  font-size: 16px;
  font-weight: 600;
  position: relative;
  top: 12vh;
  right: 9px;
} 



.title-img {
  color: #ff0000;
}

#inicio {
  text-align: center;
}



h2 {
  position: relative;
  top: 10px;
  font-weight: 400;
  color: #000000;
}




* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background-color: #e9e1de;
}

html, body {
  scroll-behavior: smooth;
}

.logo {
  position: relative;
  left: 20px;
  top: 5px;
  font-size: 26px;
  font-weight: 700;
  color: #fff;
}

.navbar-links {
  display: flex;
  gap: 20px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  bottom: 4vh;
}

.nav-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}

.burguer {
  display: none;
  color: #000000;
  font-size: 20px;
  transform: rotate(90deg);
  transition: 0.4s ease-in;
}

#lo {
  color: rgb(102, 232, 255);
}


@media only screen and (max-width: 600px) {
  .logo {
    text-align: center;
    left: 0;
    top: 5px;
    margin-bottom: 15px;
  }

  .navbar-links {
    font-size: 20px;
    flex-direction: column;
    position: static;
    gap: 20px;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.7s ease-in-out;
  }

  .burguer {
    display: block;
    position: absolute;
    right: 15px;
    top: 20px;
    cursor: pointer;
  }

 
}

.rotate {
  transform: rotate(180deg);
  transition: 0.7s ease-in-out;
}

.active {
  max-height: 600px;
  font-size: 25px;
}

* {
  box-sizing: border-box;
}

footer {
  display: none;
}

@media only screen and (max-width: 600px) {
  footer {
    display: flex;
  }

  i {
    position: relative;
    font-size: 40px;
    top: 100px;
  }

  #map {
    position: relative;
    font-size: 40px;
    left: 20px;
  }

  #whatsapp {
    position: relative;
    font-size: 42px;
    left: 40px;
  }

}


button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.navbar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: #393532;
  color: #f9f9f9;
  font-family: "Poppins";
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 3px solid #ffffff;
}

@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }
}

.navbar-overlay {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

@media only screen and (min-width: 600px) {
  .navbar-overlay {
    display: none;
  }
}

.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  width: 64px;
  height: 64px;
  padding: 0;
}

@media only screen and (min-width: 600px) {
  .navbar-burger {
    display: none;
  }
}

.navbar-title img {
  cursor: pointer;
  width: 20%;
  position: relative;
  top: 5px;
  left: 5rem;
}

.navbar-menu {
  font-size: 18px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  width: 270px;
  height: 100%;
  padding: 25px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: flex-start;
  background: #393532;
  visibility: hidden;
  transition: transform 0.3s;
}

body.open .navbar-menu {
  transform: translateX(0);
  visibility: visible;
  border-right: 2px solid #ffffff;
}

@media only screen and (min-width: 600px) {
  .navbar-menu {
    position: static;
    transform: translateX(0);
    width: auto;
    background: transparent;
    flex-direction: row;
    visibility: visible;
  }
}

.navbar-menu > a {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
  text-decoration: none;
  color: inherit;
}

.navbar-menu > a.active {
  color: #ffffff;
}



li {
  color: #fff;
}

.logo-707 {
  display: grid;
  place-content: center;
  position: relative;
  top: 6rem;
}


#ver-mas {
  position: relative;
  border: 1px solid #fff;
  padding: 10px;
  margin-top: 20px;
}

.logo {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 50%;
  width: auto;
  height: auto;
}

#tortas img {
  max-width: 200px;
  border-radius: 20px;
  transition: 0.5s;
}

#tortas img:hover {
  max-width: 300px;
  transition: 0.5s;
}

.link-icons {
  text-decoration: none;
  padding: 0;
  margin-inline: 15px;
  display: flex;
  gap: 30px;
  position: relative;
  right: 10px;
}

.advertencia {
  color: red;
  font-size: 10px;
  font-weight: 500;
}

#whatsapp-icon {
  position: fixed;
  left: 22rem;
  top: 92vh;
  background-color: green;
  color: rgb(255, 255, 255);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  text-decoration: none;
  cursor: pointer;
}

#whatsapp-icon i {
  font-size: 30px;
}

.tit-prov {
  color: #000000;
  font-size: 15px;
}

.material-icons {
  color: #ffffff;
  font-size: 30px;
  font-weight: 250;
}

h3 {
  color: #ff0000
}

.logo-reinabatata {
  display: grid;
  place-items: center;
  margin-top: 15px;
}